html{
    background-color: mintcream;
    font-family: monospace;

}

.first_row{
    display: left;
    padding: inherit;
    
}

.second_row{
    display: left;
    padding: inherit;
}

.Continue{
    margin-top: 50px;
}